<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmh.mapper.ProjectMapper">

<select id="getProjectList" resultType="com.jmh.dto.ProjectDto">
SELECT
	PROJECT_NO 
	  ,PROJECT_ID
	  ,CASE
           WHEN CUSTOM_COMPANY_ID = 'D061' THEN '삼성'
           WHEN CUSTOM_COMPANY_ID = 'D062' THEN '엘지'
           WHEN CUSTOM_COMPANY_ID = 'D063' THEN '애플'
           WHEN CUSTOM_COMPANY_ID = 'D064' THEN '구글'
           WHEN CUSTOM_COMPANY_ID = 'D065' THEN '아마존'
         END AS CUSTOM_COMPANY_ID
	  ,PROJECT_NAME
	  ,CASE
           WHEN PROJECT_SKILL_LANGUAGE = 'S010' THEN 'JAVA'
           WHEN PROJECT_SKILL_LANGUAGE = 'S011' THEN 'PYTHON'
           WHEN PROJECT_SKILL_LANGUAGE = 'S012' THEN 'C++'
           WHEN PROJECT_SKILL_LANGUAGE = 'S013' THEN 'RUBY'
         END AS PROJECT_SKILL_LANGUAGE
      ,CASE
           WHEN PROJECT_SKILL_DB = 'S020' THEN 'ORACLE'
           WHEN PROJECT_SKILL_DB = 'S021' THEN 'MSSQL'
           WHEN PROJECT_SKILL_DB = 'S022' THEN 'MYSQL'
           WHEN PROJECT_SKILL_DB = 'S023' THEN 'POSTGRESQL'
         END AS PROJECT_SKILL_DB
	  ,PROJECT_STARTDATE
	 
FROM 
(
	SELECT
		PROJECT_NO
	   	,PROJECT_ID
		,CUSTOM_COMPANY_ID
		,PROJECT_NAME
		,PROJECT_SKILL_LANGUAGE
		,PROJECT_SKILL_DB
  		,PROJECT_STARTDATE
      	,ROW_NUMBER() OVER(ORDER BY PROJECT_NO DESC) AS NUMROW
      	,COUNT(*) OVER() AS TOTAL_CNT
	FROM
		PROJECT
)
WHERE 
	NUMROW BETWEEN #{startNo} AND #{endNo}
</select>

<!-- 1. 조회(검색어 O) -->
<select id="searchProjectList" resultType="com.jmh.dto.ProjectDto"><!-- parameterType="com.jmh.vo.memberVO" -->
SELECT
	PROJECT_NO 
	  ,PROJECT_ID
	  ,CASE
           WHEN CUSTOM_COMPANY_ID = 'D061' THEN '삼성'
           WHEN CUSTOM_COMPANY_ID = 'D062' THEN '엘지'
           WHEN CUSTOM_COMPANY_ID = 'D063' THEN '애플'
           WHEN CUSTOM_COMPANY_ID = 'D064' THEN '구글'
           WHEN CUSTOM_COMPANY_ID = 'D065' THEN '아마존'
         END AS CUSTOM_COMPANY_ID
	  ,PROJECT_NAME
	  ,CASE
           WHEN PROJECT_SKILL_LANGUAGE = 'S010' THEN 'JAVA'
           WHEN PROJECT_SKILL_LANGUAGE = 'S011' THEN 'PYTHON'
           WHEN PROJECT_SKILL_LANGUAGE = 'S012' THEN 'C++'
           WHEN PROJECT_SKILL_LANGUAGE = 'S013' THEN 'RUBY'
         END AS PROJECT_SKILL_LANGUAGE
         ,CASE
           WHEN PROJECT_SKILL_DB = 'S020' THEN 'ORACLE'
           WHEN PROJECT_SKILL_DB = 'S021' THEN 'MSSQL'
           WHEN PROJECT_SKILL_DB = 'S022' THEN 'MYSQL'
           WHEN PROJECT_SKILL_DB = 'S023' THEN 'POSTGRESQL'
         END AS PROJECT_SKILL_DB
	  ,PROJECT_STARTDATE
	 
	FROM 
	(
	   SELECT
	   		PROJECT_NO
	      	,PROJECT_ID
	  		,CUSTOM_COMPANY_ID
	  		,PROJECT_NAME
	  		,PROJECT_SKILL_LANGUAGE
	  		,PROJECT_SKILL_DB
	  		,PROJECT_STARTDATE
	      	,ROW_NUMBER() OVER(ORDER BY PROJECT_NO DESC) AS NUMROW
	      	,COUNT(*) OVER() AS TOTAL_CNT
		FROM
			PROJECT
			
		<include refid="criteria"></include>	
	)
	WHERE 
		NUMROW BETWEEN #{startNo} AND #{endNo} <!-- AND MEMBER_NAME = #{searchWord} -->
</select>
<select id="getTotalCnt" resultType="integer"  parameterType="integer">
		/*getTotalCnt*/
		
		<if test="searchWord == null and searchDate == null">
		SELECT 
			COUNT(*) 
		FROM 
			PROJECT
		</if>
		
		<if test="searchWord != null or searchDate != null">
		SELECT 
			COUNT(*) 
		FROM 
			PROJECT
			
		<include refid="criteria"></include>
		
		</if>	
	</select>

	<!-- 2. 등록(아이디 체크) -->
	<select id="checkId" resultType="boolean"><!-- parameterType="String" -->
		SELECT 
			COUNT(*)
		FROM 
			PROJECT 
		WHERE 
			PROJECT_ID = #{project_Id}
	</select>
	<select id="checkName" resultType="boolean"><!-- parameterType="String" -->
		SELECT 
			COUNT(*)
		FROM 
			PROJECT 
		WHERE 
			PROJECT_NAME = #{project_Name}
	</select>
		
	<!-- 2. 등록(회원 등록) -->
	<insert id="insertProject" parameterType="com.jmh.dto.ProjectDto">
		INSERT 
		INTO 
			PROJECT
			(
				PROJECT_NO
				,PROJECT_ID
		  		,PROJECT_NAME
		  		,CUSTOM_COMPANY_ID
		  		,PROJECT_SKILL_LANGUAGE
		  		,project_Skill_DB
		  		,PROJECT_STARTDATE
		  	) 
		VALUES 
		(
			(
				SELECT 
		  			TO_NUMBER(NVL(MAX(PROJECT_NO), 0))+ 1 
		  		FROM 
		  			PROJECT
		  	)	
		  		,#{project_Id}
		  		,#{project_Name}
		  		,#{custom_company_id}
		  		,#{project_Skill_Language}
		  		,#{project_Skill_DB}
		  		,#{project_startDate}
		 )
	</insert>

<sql id="criteria">
    <where>
       <if test="searchField == 'id'"> 
        <!-- <if test="searchField != null"> -->
            <!-- AND PROJECT_ID LIKE '%'||#{searchWord}||'%' -->
            AND PROJECT_ID = #{searchWord}
        </if>
        <if test="searchField == 'name'">
            AND PROJECT_NAME LIKE '%'||#{searchWord}||'%'
        </if>
        <if test="searchDate != null">
            AND PROJECT_STARTDATE = #{searchDate}
        </if>
    </where>
</sql>
</mapper>